
.exportId{
	position:absolute;
	left:10px;
	font-size:16px;
	height:16px;
	line-height:16px;
	padding:0px;
}
.exportId:hover,.importId:hover{
	cursor:pointer;
	/* background-color:#DAE6FF; */
	/* border:1px solid #8AA2CC ; */
	border:1px solid #7eabcd;
	background:url(../images/button_plain_hover.png) repeat-x left bottom;
}
.importId{
	position:absolute;
	left:100px;
	font-size:16px;
	height:16px;
	line-height:16px;
	padding:0px;
	margin-left:20px;
}