@charset "UTF-8";

.STYLE1 {
	font-size: 24px
}

#form1 {
	font-family: "Microsoft YaHei UI";
	font-size: 100%;
	line-height: 142%;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #0072C6;
	text-align: center;
	text-indent: 0px;
	width: 84.4688px;
	margin-top: 0px;
	margin-right: 2px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 3px;
	padding-right: 12px;
	padding-bottom: 5px;
	padding-left: 12px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

div.form2 {
	font-family: "Microsoft YaHei UI";
	font-size: 100%;
	line-height: 142%;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #0072C6;
	text-align: center;
	text-indent: 0px;
	width: 84.4688px;
	margin-top: 0px;
	margin-right: 2px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 3px;
	padding-right: 12px;
	padding-bottom: 5px;
	padding-left: 12px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.STYLE2 {
	font-size: 16px;
	font-family: "Microsoft YaHei UI";
}

#form1 .zimui12 .ziti16 .tiyanshehui {
	color: #999999;
}

.STYLE4 {
	font-size: 12px;
	font-family: "Microsoft YaHei UI";
}

.STYLE5 {
	font-family: "Microsoft YaHei UI";
	font-size: 12px;
	color: #099;
}

.STYLE6 {
	font-family: "Microsoft YaHei UI"
}

.STYLE7 {
	font-family: "Microsoft YaHei UI";
	font-size: 14px;
}

.STYLE8 {
	font-size: 14px
}

.STYLE11 {
	font-family: "Microsoft YaHei UI";
	font-size: 18px;
}